/*nav*/
nav{
	width: 100%;
	background-color: white;
}
nav h1{
	position: relative;
	text-align: center;
	color: rgb(255,70,78);
	height: 2.5rem;
	line-height: 2.5rem; 
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 1rem;
}
nav h1 img{
	position: absolute;
	right: 1rem;
	top: 0.7rem;
	width:1.2rem; 
}
nav ul{
	display: flex;
}
nav ul li{
	flex: 1;
	font-size: 0.7rem;
	text-align: center;
	height: 1.84rem;
	line-height: 1.84rem;
}
nav ul li:last-child{
	flex:1.5;
}

